/*Font colors*/
$clr-white: #FFFFFF;
$clr-light-blue: #4bcaff;
$clr-light-gray: #515f67;
$clr-dark-gray: #404a52;


/*Font sizes*/
$fs-base: 0.875rem;//14px
$fs-sm: 1.5rem; //24px
$fs-xmed: 1.75rem; //28px
$fs-med: 1.875rem; //30px
$fs-big: 2.625rem; //42px

/*Font family*/
$ff-sans: "Noto Sans", sans-serif;

/*font weight*/
$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;